@{
    ViewData["Title"] = "Podcasts";
    ViewData["Header"] = "Podcasts";
}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5"></h1>
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <div class="form-subscribe">
                        <div class="row">
                            <a href="https://baconsale.com/">My Favorite Podcast Site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
